[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pydantic-settings = "*"
setuptools = "*"
loguru = "*"

[dev-packages]
mypy = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
